<%- include header %>

<div class="container">
  <form class="form-signin col-sm-3" role="form" method="post">
    <h2 class="form-signin-heading">请登录</h2>
    <input type="text" class="form-control col-sm-3" placeholder="用户名" id="username" name="username" required autofocus>
    <input type="password" class="form-control" placeholder="密码" id="password" name="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
</div>

<%- include footer %>